doctype  
html(lang="en")
    head
        include ../includes/header.pug

        script(src='/static/js/sidebar.js', defer)
        script(src='/static/js/guild.js', defer)

        link(rel='stylesheet', href='/static/css/sidebar.css')
        link(rel='stylesheet', href='/css/music.css')

        
    body
        include ../includes/sidebar.pug
        
        #sidebarExtension.bg-dark
            header.text-center.pt-4
                .large-icon.bg-black.round
                    if guild.icon
                        img.round(src=guild.iconURL({ dynamic: true, size: 128 }), alt=guild.name)
                    else
                        p.abbr #{guild.nameAcronym}
                h4#overview.pt-2 #{guild.name}
            .tabs.navbar-nav
                .category Modules
                a#moderation.cursor-pointer #[i.fas.fa-gavel.pr-1] Moderation
                a#general.cursor-pointer #[i.fa-solid.fa-droplet.pr-1] General
                a#economy.cursor-pointer #[i.fas.fa-sack-dollar.pr-1] Economy
                a#music.cursor-pointer #[i.fas.fa-compact-disc.pr-1] Music

        include ../includes/navbar.pug

        include modules/overview
        include modules/moderation
        include modules/general
        include modules/economy
        include modules/music
