nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='/') Stickier Bot
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    .navbar-nav
      a.nav-link(href='/commands') 
        i.fa-solid.fa-terminal
        span.pl-1 Commands
    .navbar-nav.ml-auto
      a.nav-link(href='/login') 
        i.fa-solid.fa-arrow-right-to-bracket
        span.pl-1 Login